$bgcolor-fond: rgba(38, 2, 135, 0.56);
$color-button: #FFC839;
$color-InsideInput: #FFF0CB;
body {
    header {
        z-index: 100;
        .navbar-collapse {
            flex-grow: unset;
        }
    }
    .sectionOne {
        width: 100%;
        height: 100vh;
        background: url(../images/fond.png);
        background-size: cover;
        overflow: hidden;
        .overlay {
            left: 0;
            height: 100%;
            background: $bgcolor-fond;
            .mt-custom {
                margin-top: 15rem;
                h1 {
                    font-size: 96px;
                }
                .bg-custom {
                    background-color: $color-button;
                }
                input {
                    background-color: $color-InsideInput;
                }
            }
        }
    }
    .sectionTwo {
        div {
            .card-body {
                background: white;
                &:hover {
                    background: $color-button;
                    .btn-log {
                        background: white;
                    }
                }
                .btn-log {
                    background-color: $color-button;
                }
            }
        }
    }
}